<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MarikoBoy</title>
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <meta http-equiv="content-type" content="no-cache, must-revalidate, post-check=0, pre-check=0"/>
    <meta http-equiv="content-type" content="max-age=0"/>
    <meta http-equiv="refresh" content="no-cache"/>
</head>
<body>

<nav class="navbar navbar-expand-lg text-bg-dark">
    <a class="navbar-brand" href="#">MarikoBoy</a>
</nav>
<div class="container-fluid">
    <hr/>
    <button class="btn btn-info" onclick="window.location.reload()">Reload games</button>
    <hr/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Active Game</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success">
            {% if not active_game %}
                <th scope="row"></th>
                <td>No active game to resume</td>
                <td><a href="#">#</a></td>
            {% else %}
                <th scope="row"></th>
                <td>{{ active_game.rom }}</td>
                <td><a href={{ url_for("streaming") }}>Resume</a></td>

            {% endif %}
        </tr>
        </tbody>
    </table>
    <hr/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Games</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr class="table-primary">
                <td><a class="white" href={{ url_for("start",rom=game) }}>{{ game }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>

